Repository swashcap/moonless: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --ext .js,.ts,.tsx --fix

docs: add project readme
  README.md
Due: none

feat: implement theme for token-to-component association
  src/Alert/Alert.module.css
  src/Alert/Alert.tsx
  src/Breadcrumb/Breadcrumb.stories.tsx
  src/Breadcrumb/Breadcrumb.tsx
  src/Button/Button.module.css
  src/Button/Button.stories.tsx
  src/Button/Button.tsx
  src/Card/Card.module.css
  src/Checkbox/Checkbox.module.css
  src/Checkbox/Checkbox.stories.tsx
  src/Checkbox/Checkbox.tsx
  src/Icon/Icon.module.css
  src/Icon/Icon.stories.tsx
  src/Icon/Icon.tsx
  src/Link/Link.css
  src/Link/Link.module.css
  src/Link/Link.tsx
  src/Nav/Nav.module.css
  src/Nav/Nav.stories.tsx
  src/Nav/Nav.tsx
  src/Tabs/Tabs.module.css
  src/Tag/Tag.module.css
  src/Tag/Tag.stories.tsx
  src/Tag/Tag.tsx
  src/moonless.css
  src/styles/global.css
  src/styles/theme.css
  src/tokens/color.css
  src/tokens/typography.css
Due: stylelint --fix, eslint --ext .js,.ts,.tsx --fix

refactor: move control error to new component
  src/Alert/Alert.stories.tsx
  src/Breadcrumb/Breadcrumb.stories.tsx
  src/Button/Button.stories.tsx
  src/Button/Button.tsx
  src/Card/Card.stories.tsx
  src/Checkbox/Checkbox.module.css
  src/Checkbox/Checkbox.stories.tsx
  src/Checkbox/Checkbox.tsx
  src/Grid/Grid.stories.tsx
  src/Icon/Icon.stories.tsx
  src/Link/Link.stories.tsx
  src/List/List.stories.tsx
  src/Nav/Nav.stories.tsx
  src/Nav/Nav.tsx
  src/Pagination/Pagination.stories.tsx
  src/Radio/Radio.stories.tsx
  src/Tabs/Tabs.stories.tsx
  src/Tag/Tag.stories.tsx
  src/Text/Text.stories.tsx
  src/TextField/TextField.stories.tsx
  src/TextField/TextField.tsx
  src/VisuallyHidden/VisuallyHidden.stories.tsx
  src/private/ControlError/ControlError.module.css
  src/private/ControlError/ControlError.stories.tsx
  src/private/ControlError/ControlError.test.tsx
  src/private/ControlError/ControlError.tsx
Due: stylelint --fix, eslint --ext .js,.ts,.tsx --fix

feat(text): add variant sizes
  src/Text/Text.css
  src/Text/Text.module.css
  src/Text/Text.stories.tsx
  src/Text/Text.tsx
  src/tokens/typography.css
Due: stylelint --fix, eslint --ext .js,.ts,.tsx --fix

chore: add husky to project
  package.json
  yarn.lock
Due: none

fix(radio): remove error prop from radio component
  src/Radio/Radio.module.css
  src/Radio/Radio.stories.tsx
  src/Radio/Radio.tsx
Due: stylelint --fix, eslint --ext .js,.ts,.tsx --fix

feat: add project build
  .gitignore
  .vscode/settings.json
  babel.config.js
  package.json
  scripts/clean.sh
  src/Breadcrumb/Breadcrumb.module.css
  src/Breadcrumb/Breadcrumb.tsx
  src/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
  src/Button/__snapshots__/Button.test.tsx.snap
  src/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/Grid/Grid.module.css
  src/Grid/Grid.tsx
  src/List/List.module.css
  src/Nav/__snapshots__/Nav.test.tsx.snap
  src/Radio/__snapshots__/Radio.test.tsx.snap
  src/Tag/Tag.module.css
  src/TextField/TextField.module.css
  src/TextField/TextField.stories.tsx
  src/TextField/TextField.tsx
  src/TextField/__snapshots__/TextField.test.tsx.snap
  src/index.ts
  src/private/ControlError/__snapshots__/ControlError.test.tsx.snap
  src/styles/theme.css
  src/tokens/space.css
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: stylelint --fix, eslint --ext .js,.ts,.tsx --fix

docs(storybook): add color story
  .storybook/main.js
  .storybook/stories/color.tsx
  package.json
  yarn.lock
Due: eslint --ext .js,.ts,.tsx --fix

chore: add jsx-a11y babel plugin
  .eslintignore
  .storybook/main.js
  babel.config.js
  package.json
  src/Radio/Radio.tsx
  yarn.lock
Due: eslint --ext .js,.ts,.tsx --fix

chore: add react-hooks ESLint plugin
  .eslintrc.json
  babel.config.js
  package.json
  yarn.lock
Due: eslint --ext .js,.ts,.tsx --fix

chore(storybook): fix docs preview background
  .storybook/preview-head.html
Due: none

feat(icon): add full set of icons
  src/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/Icon/Icon.module.css
  src/Icon/Icon.stories.tsx
  src/Icon/Icon.test.tsx
  src/Icon/Icon.tsx
  src/Icon/__snapshots__/Icon.test.tsx.snap
Due: stylelint --fix, eslint --ext .js,.ts,.tsx --fix

fix(alert): add role to Alert root element
  src/Alert/Alert.tsx
Due: eslint --ext .js,.ts,.tsx --fix

test(alert): increase test coverage
  src/Alert/Alert.test.tsx
  src/Alert/__snapshots__/Alert.test.tsx.snap
Due: eslint --ext .js,.ts,.tsx --fix

test(breadcrumb): increase test coverage
  src/Breadcrumb/Breadcrumb.test.tsx
  src/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
Due: eslint --ext .js,.ts,.tsx --fix

test(button): increase test coverage
  src/Button/Button.test.tsx
Due: eslint --ext .js,.ts,.tsx --fix

test(card): increase test coverage
  src/Card/Card.test.tsx
  src/Card/Card.tsx
Due: eslint --ext .js,.ts,.tsx --fix

feat: add A11YLive component
  src/private/A11YLive/A11Y.test.tsx
  src/private/A11YLive/A11YLive.stories.tsx
  src/private/A11YLive/A11YLive.tsx
  src/private/A11YLive/__snapshots__/A11Y.test.tsx.snap
Due: eslint --ext .js,.ts,.tsx --fix

chore(storybook): add space story
  .storybook/main.js
Due: eslint --ext .js,.ts,.tsx --fix

chore: upgrade typescript to 4.0.2
  package.json
  yarn.lock
Due: none

chore: upgrade @commitlint/* dependencies to 9.1.2
  yarn.lock
Due: none

chore: upgrade @babel/* dependencies to 7.11.0
  package.json
  yarn.lock
Due: none

docs(storybook): add story for space
  .storybook/stories/space.tsx
Due: eslint --ext .js,.ts,.tsx --fix

chore: upgrade to @storybook/* 6
  .storybook/main.js
  .storybook/stories/color.tsx
  .storybook/stories/space.tsx
  package.json
  src/Alert/Alert.stories.tsx
  src/Breadcrumb/Breadcrumb.stories.tsx
  src/Button/Button.stories.tsx
  src/Card/Card.stories.tsx
  src/Checkbox/Checkbox.stories.tsx
  src/Grid/Grid.stories.tsx
  src/Icon/Icon.stories.tsx
  src/Link/Link.stories.tsx
  src/List/List.stories.tsx
  src/Nav/Nav.stories.tsx
  src/Pagination/Pagination.stories.tsx
  src/Radio/Radio.stories.tsx
  src/Tabs/Tabs.stories.tsx
  src/Tag/Tag.stories.tsx
  src/Text/Text.stories.tsx
  src/TextField/TextField.stories.tsx
  src/VisuallyHidden/VisuallyHidden.stories.tsx
  src/private/A11YLive/A11YLive.stories.tsx
  src/private/ControlError/ControlError.stories.tsx
  yarn.lock
Due: eslint --ext .js,.ts,.tsx --fix

chore: upgrade eslint to 7.7.0
  package.json
  yarn.lock
Due: none

chore: upgrade @typescript-eslint/* depenencies to 3.9.1
  package.json
  yarn.lock
Due: none

chore: upgrade jest to 26.4.2
  package.json
  yarn.lock
Due: none

refactor: add polymorphic `Button` component
  src/Button/Button.module.css
  src/Button/Button.stories.tsx
  src/Button/Button.test.tsx
  src/Button/Button.tsx
  src/Button/__snapshots__/Button.test.tsx.snap
Due: stylelint --fix, eslint --ext .js,.ts,.tsx --fix

refactor: change build from Webpack to Rollup
  babel.config.js
  package.json
  rollup.config.js
  src/Checkbox/Checkbox.tsx
  src/Radio/Radio.tsx
  webpack.config.js
  yarn.lock
Due: eslint --ext .js,.ts,.tsx --fix

refactor: apply babel-env node to root .js files
  .eslintrc.json
  babel.config.js
  commitlint.config.js
  jest.config.js
  rollup.config.js
  stylelint.config.js
Due: eslint --ext .js,.ts,.tsx --fix

refactor: remove "storybook-*" classes from bundled CSS
  package.json
  rollup.config.js
  yarn.lock
Due: eslint --ext .js,.ts,.tsx --fix

fix: add global styles to build
  package.json
  postcss.config.js
  rollup.config.js
  src/index.ts
  yarn.lock
Due: eslint --ext .js,.ts,.tsx --fix

chore: remove unused dependency
  package.json
  yarn.lock
Due: none

chore: upgrade @commitlint/* dependencies to 11.x.x
  package.json
  yarn.lock
Due: none

chore: configure nvm to use Node.js 14.11
  .nvmrc
Due: none

style: upgrade @typescript-eslint to 4.1.1
  package.json
  src/Button/Button.stories.tsx
  src/Button/Button.test.tsx
  src/Button/Button.tsx
  yarn.lock
Due: eslint --ext .js,.ts,.tsx --fix

chore: upgrade @testing-library/react to 11.0.4
  package.json
  yarn.lock
Due: none

chore: upgrade typescript-plugin-css-modules to 2.7.0
  package.json
  yarn.lock
Due: none

chore: upgrade @storybook/* dependencies to 6.0.21
  package.json
  yarn.lock
Due: none

chore: upgrade @babel/* dependencies to 7.11.5
  package.json
  yarn.lock
Due: none

Path conditions:
  stylelint --fix: any of: *.css
  eslint --ext .js,.ts,.tsx --fix: any of: *.{js,ts,tsx}
